<h1>THP Groupe de Lyon </h1>
<p> Bienvenue sur la page du groupe lyonnais. On aime: Atom, Tony Stark, les Gauffres et le surf. On aime pas: Php, Sublime, Les bugs du hackbot.
  Githoub des peer-learning :
Mohammad-Ali
Odssey
oseus
Hug-O

Slack THP des contributeurs :
Mohammad-Ali : @Mohammad-Ali
Odyssée Levine : @Odyssée Levine
David Coat : @Coat David
Hugo : @Hugo

À très bientôt,
La team.
#only_lyon
</p>
