<h1>StaticPages#about</h1>
<p>Bienvenue sur notre  propos, on y trouve une page sur notre page. Let's go with : <li><%= link_to "La Team", team_path(@team) %></li>  <li><%= link_to "Ouam", ouam_path(@ouam) %></li></p>
